@font-face {
    font-family: 'Oswald';
    src: url('/fonts/Oswald-Regular.ttf');
    font-weight: 'regular', 400;
    font-style: normal;
}

@font-face {
    font-family: 'Oswald';
    src: url('/fonts/Oswald-Bold.ttf');
    font-weight: 'bold', 700;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat Thin';
    src: url('/fonts/Montserrat-Thin.ttf');
    font-weight: 'thin', 100;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat Light';
    src: url('/fonts/Montserrat-Light.ttf');
    font-weight: 'light', 300;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('/fonts/Montserrat-Regular.ttf');
    font-weight: 'normal', 400;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat Medium';
    src: url('/fonts/Montserrat-Medium.ttf');
    font-weight: 'normal', 500;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat Bold';
    src: url('/fonts/Montserrat-Bold.ttf');
    font-weight: 'normal', 700;
    font-style: normal;
}


$font-futura: 'Futura', 'Oswald', 'Arial', 'Helvetica', sans-serif;
$font-gotham: 'Gotham', 'Montserrat', 'Arial', 'Helvetica', sans-serif;;
$font-gotham-thin: 'Gotham Thin', 'Montserrat Thin', 'Arial', 'Helvetica', sans-serif;;
$font-gotham-light: 'Gotham Light', 'Montserrat Light', 'Arial', 'Helvetica', sans-serif;;
$font-gotham-medium: 'Gotham Medium', 'Montserrat Medium', 'Arial', 'Helvetica', sans-serif;;
$font-gotham-bold: 'Gotham Bold', 'Montserrat Bold', 'Arial', 'Helvetica', sans-serif;;
