.category-label {
  font-family: $font-futura;
  font-size: 5rem;
  text-transform: capitalize;
  font-weight: bold;
  height: 10vh;
  margin-bottom: 5px;
}

.info-container {
  background-color: $color-black-rock;
  color: $color-titan-white;
}

.category-info,
.info-container {
  min-height: 100vh;
}

.box-row {
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   align-content: flex-start;
   margin-left: -10px;
  background-color: $color-black-rock;
}

.box {
  margin: 10px;
  padding: 7.5px;
  height: 200px;
  background-color: $color-titan-white;
  position: relative;
  font-family: 'Gotham Light';
  color: $color-torea-bay;
  flex-grow: 1;

  &.flex-2 {
    flex-grow: 2;
  }

  &.flex-3 {
    flex-grow: 3;

  }

  &.flex-4 {
    flex-grow: 4;
  }

  &.heliotrope {
    background-color: $color-heliotrope;
  }

  &.french-pass {
    background-color: $color-french-pass;
  }

  &.congress-blue {
    background-color: $color-congress-blue;
  }

  &.endeavour {
    background-color: $color-endeavour;
  }

  &.pigment-indigo {
    background-color: $color-pigment-indigo;
  }

  .box-heading {
    font-family: 'Gotham Medium';
    color: $color-black-rock;
  }
}
