.oops {
  .oops-warning {
    color: $color-titan-white;
    font-size: 5rem;
    text-align: center;
    font-family: $font-gotham-bold;
    margin-top: 50px;
  }

  .oops-text {
    color: $color-titan-white;
    font-family: $font-gotham;
    text-align: center;
  }

  .home-link {
    position: relative;
    top: auto;
    right: auto;
  }

  .oops-particles-container {
    display: flex;
    justify-content: center;
  }
}
