.specs {
  padding-top: 15px;
  .specs-items {
    font-size: 40px;
    color: $color-titan-white;
    font-family: 'Gotham';
    display: inline-block;
    width: 33%;
    float: right;

    .specs-heading {
      font-weight: bold;
      text-transform: capitalize;
    }
  }

  .schedule {
    thead {
      background-color: $color-heliotrope;
    }
  }

  .remote {
    thead {
      background-color: $color-pigment-indigo;
    }
  }

  .pto {
    thead {
      background-color: $color-flirt;
    }
  }

}
