.specs {
  padding-top: 15px;

  .workload {
    background-color: $color-black-rock;
    border: 1px solid $color-titan-white;
    font-size: 3rem;
    color: $color-titan-white;
    font-family: 'Gotham Bold';
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .workweek {
    font-size: 3rem;
    font-family: 'Gotham Bold';
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .schedule {
    thead {
      background-color: $color-heliotrope;
    }
  }

  .remote {
    thead {
      background-color: $color-pigment-indigo;
    }
  }

  .pto {
    thead {
      background-color: $color-flirt;
    }
  }

}
