@import "./fonts";
@import "./colors";
@import "./left";
@import "./startscreen";
@import "./info";
@import "./boxes";
@import "./essentials";
@import "./methodology";
@import "./specs";
@import "./profile";
@import "./equipment";
@import "./technologies";
@import "./other";
@import "./mediaqueries";


html,body {
  height: 100%;
  min-height: 100vh;
}

body {
  margin: 0;
  min-height: 100%;
  background-color: $color-black-rock;

  .container-fluid {
    padding: 0px;
  }
}

.main-container {
  padding: 0;
  min-height: 100vh;
  height: 100%;
}

.intro {
  font-size: 4rem;
  font-family: $font-futura;
  color: $color-black-rock;
  text-transform: uppercase;
  font-weight: bold;
  // animation: spin 4s ease-in-out 1s infinite;
}

.home-link {
  color: $color-titan-white;
  position: absolute;
  top: 15px;
  right: 30px;
  font-size: 2.5rem;
}

.fade-appear {
  opacity: 0.01;
}

.fade-appear.fade-appear-active {
  opacity: 1;
  transition: opacity .5s ease-in;
}

  .fade-enter {
  opacity: 0.01;
  }

  .fade-enter.fade-enter-active {
    opacity: 1;
    transition: opacity 500ms ease-in;
  }

  .fade-leave {
    opacity: 1;
  }

  .fade-leave.example-leave-active {
    opacity: 0.01;
    transition: opacity 300ms ease-in;
  }
