$color-black-rock: #0e0227;

$color-titan-white: #eae8ff;
$color-malibu: #80bcff;
$color-french-pass: #bfdeff;
$color-congress-blue: #003e82;
$color-endeavour: #0059ba;
$color-heliotrope: #bd80ff;
$color-mauve: #debfff;
$color-christalle: #34006b;
$color-pigment-indigo: #4a0099;
$color-melrose: #978dff;
$color-arapawa: #160d78;
$color-torea-bay: #2012ab;

$font-futura: 'Futura', 'Arial', 'Helvetica', sans-serif;
$font-lato: 'Lato', 'Arial', 'Helvetica', sans-serif;

html {
  height: 100%;
}

body {
  margin: 0;
  min-height: 100%;
  background-color: $color-titan-white;
}

@import "./left";
@import "./startscreen";
@import "./boxes";

.main-container {
  padding: 0;
  min-height: 100vh;
}

.intro {
  font-size: 4rem;
  font-family: $font-futura;
  color: $color-black-rock;
  text-transform: uppercase;
  font-weight: bold;
  // animation: spin 4s ease-in-out 1s infinite;
}


.category-label {
  font-family: $font-futura;
  font-size: 5rem;
  font-weight: bold;
}
.info-container {
    background-color: $color-black-rock;
    color: $color-titan-white;
}
.info-container,
.category-info {
  height: 100vh;
}
