$color-black-rock: #0e0227;
$color-dandelion: #ffd566;
$color-early-dawn: #fff8e6;
$color-chelsea-gem: #996f00;
$color-selective-yellow: #ffb900;
$color-cornflower-blue: #8376ff;
$color-titan-white: #eae8ff;
$color-arapawa: #130b67;
$color-torea-bay: #2012ab;

$font-futura: 'Futura', 'Arial', 'Helvetica', sans-serif;
$font-lato: 'Lato', 'Arial', 'Helvetica', sans-serif;

html {
  height: 100%;
}

body {
  margin: 0;
  min-height: 100%;
  background-color: $color-titan-white;
}

.main-container {
  padding: 0;
  min-height: 100vh;
}

.intro {
  font-size: 4rem;
  font-family: $font-futura;
  color: $color-black-rock;
  text-transform: uppercase;
  font-weight: bold;
  // animation: spin 4s ease-in-out 1s infinite;
}

.left-container {
  padding-left: 0;
  background-color: white;
  color: $color-black-rock;
  border-right: 1px solid $color-cornflower-blue;
  height: 100vh;
}

.left {
  padding-left: 15px;
  padding-top: 15px;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.left-heading {
  font-family: $font-futura;
  font-weight: lighter;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-decoration: underline;
}

.categories-item {
  text-transform: capitalize;
  flex: 1;
  display: flex;
  align-items: center;
  text-transform: uppercase;
  font-weight: bold;
}

.category-label {
  font-family: $font-futura;
  font-size: 5rem;
  font-weight: bold;
}
